@page
@model RacingLeagueManager.Pages.Leagues.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.League.Name)</h2>

<div>
    <div>
        <a asp-page="./Index">League Index</a> |

        <a asp-page="../LeagueDriver/Index" asp-route-leagueId="@Model.League.Id">Members</a> |
        <a asp-page="/Rule/Index" asp-route-leagueId="@Model.League.Id">Rules</a>
        @if (Model.IsJoinable)
        {
            <span> | </span>
            <a asp-page="../LeagueDriver/Create" asp-route-leagueId="@Model.League.Id">Join League</a>
        }
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <strong>Details</strong>
                </div>
                <div class="col-md-2 text-right">
                    <a asp-page="./Edit" asp-route-id="@Model.League.Id">Edit</a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12"><strong>@Html.DisplayNameFor(model => model.League.Description):</strong> @Html.DisplayFor(model => model.League.Description)</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.League.Owner): </strong>
                    @Html.DisplayFor(model => model.League.Owner.UserName)
                </div>
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.League.CreatedDate): </strong>
                    @Html.DisplayFor(model => model.League.CreatedDate)
                </div>
                @*<div class="col-md-4">
                    <div class="col-md-6">@Html.DisplayNameFor(model => model.League.IsPublic)</div>
                    <div class="col-md-6">@Html.DisplayFor(model => model.League.IsPublic)</div>
                </div>*@
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <strong>Series</strong>
                </div>
                <div class="col-md-2 text-right">
                    <a asp-page="../Series/Create" asp-route-leagueId="@Model.League.Id">Create New</a>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.League.Series)
                {
                    <tr>
                        <td>
                            <a asp-page="../Series/Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.UserName)
                        </td>
                        @*<td>
                                <a asp-page="../SeriesEntry/Create" asp-route-seriesId="@item.Id">New Entry</a>
                            </td>*@
                        @*<td>
                                <a asp-page="../Series/Edit" asp-route-id="@item.Id">Edit</a> |

                                <a asp-page="../Series/Delete" asp-route-id="@item.Id">Delete</a>
                            </td>*@
                    </tr>
                }
            </table>
        </div>
    </div>

</div>

