@page
@model RacingLeagueManager.Pages.Leagues.IndexModel
@using RacingLeagueManager.Data.Models

@inject UserManager<Driver> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Racing Leagues</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.League[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League[0].Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.League[0].o)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.League[0].CreatedDate)
            </th>
            <th>

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.League)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @if (item.IsPublic)
                    {
                        <a asp-page="../LeagueDriver/Create" asp-route-leagueId="@item.Id" asp-route-driverId="@UserManager.GetUserId(User)">Join</a>
                    }
                    else
                    {
                        <a asp-page="">Request to Join</a>

                    }

                </td>
                @*<td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |

                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
