@page
@model RacingLeagueManager.Pages.SeriesEntry.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SeriesEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeriesEntry.Driver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesEntry.Driver.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeriesEntry.Series)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesEntry.Series.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeriesEntry.Car)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesEntry.Car.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
