@page
@model RacingLeagueManager.Pages.SeriesEntry.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.SeriesName Standings</h2>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Place
            </th>
            <th>
                Drivers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standings[0].RaceNumber)
            </th>
            <th>
                Team
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Standings[0].Car)
            </th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Standings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>


            @*<td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
