@page
@model RacingLeagueManager.Pages.Race.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@*<h6>GT RACING CHAMPIONSHIP</h6>*@
<h3>@Model.RaceDetailsViewModel.SeriesName</h3>
<a asp-page="/Series/Details" asp-route-id="@Model.RaceDetailsViewModel.SeriesId">Series Details</a>

<hr />

<div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <strong>@Model.RaceDetailsViewModel.TrackName</strong>
                </div>
                <div class="col-md-2 text-right">
                    <a asp-page="./Edit" asp-route-id="@Model.RaceDetailsViewModel.RaceId">Edit</a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            
            <span class="@Model.RaceDetailsViewModel.GetStatusCssClass()">
                @Html.DisplayFor(model => model.RaceDetailsViewModel.Status)
            </span>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RaceDetailsViewModel.RaceDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RaceDetailsViewModel.RaceDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RaceDetailsViewModel.Laps)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RaceDetailsViewModel.Laps)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RaceDetailsViewModel.DayNight)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RaceDetailsViewModel.DayNight)
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <strong>Results</strong>
                </div>
                <div class="col-md-2 text-right">
                    @if (Model.RaceDetailsViewModel.Status != Data.Models.RaceStatus.Certified)
                    {
                        <form method="post" asp-page-handler="status" asp-route-raceId="@Model.RaceDetailsViewModel.RaceId">
                            @Html.Raw(Model.RaceDetailsViewModel.GetStatusButtonHtml())
                        </form>
                    }
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Place</th>
                    <th>Driver</th>
                    <th>Race No.</th>
                    <th>Team</th>
                    <th>Car</th>
                    <th>Best Lap</th>
                    <th>Total Time</th>
                    <th>Penalty Seconds</th>
                    <th>Official Time</th>
                    <th>Points</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model.RaceDetailsViewModel.Results)
                {
                    <tr>
                        <td>
                            @if (item.Place < 98)
                            {
                                @Html.DisplayFor(modelItem => item.Place)
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaceNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BestLap)
                        </td>
                        <td>
                            @if (item.ResultType != Data.Models.ResultType.DQ)
                            {
                                @Html.DisplayFor(modelItem => item.TotalTime)
                            }

                        </td>
                        <td>
                            @if (item.PenaltySeconds > 0)
                            {
                                <a asp-page="../Penalty/Index" asp-route-raceResultId="@item.RaceResultId">@Html.DisplayFor(modelItem => item.PenaltySeconds)</a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.PenaltySeconds)
                            }
                        </td>
                        <td>
                            @if (item.ResultType == Data.Models.ResultType.Finished)
                            {
                                @Html.DisplayFor(modelItem => item.OfficialTime)

                            }
                            else if (item.ResultType == Data.Models.ResultType.DNF)
                            {
                                <span class="label label-default">DNF</span>
                            }
                            else if (item.ResultType == Data.Models.ResultType.DNS)
                            {
                                <span class="label label-warning">DNS</span>
                            }
                            else if (item.ResultType == Data.Models.ResultType.RC)
                            {
                                <span class="label label-info">Race Control</span>
                            }
                            else if (item.ResultType == Data.Models.ResultType.DQ)
                            {
                                <span class="label label-danger">DQ</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @if (Model.RaceDetailsViewModel.Status == Data.Models.RaceStatus.Open)
                            {
                                if (item.ResultType == null)
                                {
                                    <a asp-page="../RaceResult/Create" asp-route-raceId="@Model.RaceDetailsViewModel.RaceId" asp-route-seriesEntryId="@item.SeriesEntryId">Add Result</a>
                                }
                                else if (item.ResultType == Data.Models.ResultType.Finished)
                                {
                                    <a asp-page="../RaceResult/Edit" asp-route-raceId="@Model.RaceDetailsViewModel.RaceId" asp-route-id="@item.RaceResultId">Edit Result</a>

                                }

                            }
                        </td>
                        <td>
                            @if ((item.TotalTime != null) && (Model.RaceDetailsViewModel.Status == Data.Models.RaceStatus.Closed))
                            {
                                <a asp-page="../Penalty/Create" asp-route-raceResultId="@item.RaceResultId">Add Penalty</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-page="/Series/Details" asp-route-id="@Model.RaceDetailsViewModel.SeriesId">Back to Series</a>
</div>
