@page
@model RacingLeagueManager.Pages.Penalty.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Penalties for @Model.RaceResult.Driver.UserName at @Model.RaceResult.Race.Track.Name</h2>
<a asp-page="../Race/Details" asp-route-id="@Model.RaceResult.RaceId">Back to Race Details</a>

@*<p>
        <a asp-page="Create" asp-route-raceResultId="@Model.Penalty[0].RaceResultId">Add Penalty</a>
    </p>*@

@if (Model.RaceResult.Penalties.Count == 0)
{
    <br /><br />
    <h4><span class="label label-info">No penalties.</span></h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Penalty Description
                </th>
                <th>
                    Time (seconds)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RaceResult.Penalties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seconds)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

