@page
@model RacingLeagueManager.Pages.Team.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Team.Series.Name Team</h3>
<a asp-page="../Series/Details" asp-route-id="@Model.Team.SeriesId">Series Details</a> |
<a asp-page="./Index" asp-route-seriesId="@Model.Team.SeriesId">Teams</a>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6 font-bold">
                @Model.Team.Name
            </div>
            <div class="col-lg-6 text-right">
                <a asp-page="./Edit" asp-route-id="@Model.Team.Id">Edit</a>
            </div>
        </div>
        
    </div>
    <div class="panel-body">
        <div class="col-md-1 font-bold">
            @Html.DisplayNameFor(model => model.Team.Owner): 
        </div>
        <div class="col-lg-11">
            @Html.DisplayFor(model => model.Team.Owner.DisplayUserName)
        </div>
    </div>
</div>
   
<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Number</th>
        <th>Car</th>
        <th>Drivers</th>
        <th><a asp-page="../SeriesEntry/Create" asp-route-seriesId="@Model.Team.SeriesId" asp-route-teamId="@Model.Team.Id">New Entry</a></th>
    </tr>
    @foreach (var item in Model.Team.SeriesEntries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RaceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Name)
            </td>
            <td>
                @if (item.SeriesEntryDrivers != null)
                {
                    for (int i = 0; i < item.SeriesEntryDrivers.Count; i++)
                    {
                        @Html.DisplayFor(modelItem => item.SeriesEntryDrivers.ElementAt(i).LeagueDriver.Driver.DisplayUserName)
                        @Html.Raw(" - ")
                        @Html.DisplayFor(modelItem => item.SeriesEntryDrivers.ElementAt(i).DriverType)
                        if ((item.SeriesEntryDrivers.Count - i) > 1)
                        {
                            @Html.Raw(",<br />");
                        }
                    }
                }



                @*@foreach (var driver in item.SeriesEntryDrivers)
                    {
                        @Html.DisplayFor(modelItem => driver.LeagueDriver.Driver.UserName)
                    }*@

            </td>
            <td>
                <a asp-page="../SeriesEntryDriver/Create" asp-route-seriesEntryId="@item.Id">Add Driver</a>
            </td>
            @*<td>
                    <a asp-page="../Driver/Details" asp-route-id="@item.LeagueDriver.DriverId">@Html.DisplayFor(modelItem => item.LeagueDriver.Driver.UserName)</a>
                </td>*@

        </tr>
    }
</table>
