@page
@model RacingLeagueManager.Pages.Team.IndexModel

@{
    ViewData["Title"] = "Teams";
}

<h2>@ViewData["SeriesName"]</h2>
<h3>Racing Teams</h3>

<p>
    <a asp-page="Create" asp-route-seriesId="@ViewData["SeriesId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Team[0].Series)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Series.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
