@page
@model RacingLeagueManager.Pages.LeagueDriver.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].RaceNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeagueDriver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
