@page
@model RacingLeagueManager.Pages.LeagueDriver.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>League Name</h2>
<h3>Member Index</h3>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].PreQualifiedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].TrueSkillRating)
            </th>
            <th>
                Attendance Percentage
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LeagueDriver[0].RaceNumber)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeagueDriver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreQualifiedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrueSkillRating)
            </td>
            <td></td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RaceNumber)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
