@page "{handler?}"
@model RacingLeagueManager.Pages.LeagueDriver.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.LeagueDrivers.LeagueName</h3>

@if (Model.LeagueDrivers.PendingDrivers.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Membership Requests</strong></div>
        <div class="panel-body">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LeagueDrivers.PendingDrivers[0].Driver)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeagueDrivers.PendingDrivers[0].PreQualifiedTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeagueDrivers.PendingDrivers[0].TrueSkillRating)
                        </th>
                        <th>
                            Attendance Percentage
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.LeagueDriver[0].RaceNumber)
                            </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LeagueDrivers.PendingDrivers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Driver.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PreQualifiedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrueSkillRating)
                            </td>
                            <td></td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.RaceNumber)
                                </td>*@
                            <td>
                                
                                <form style="display:inline;margin:0px;padding:0px;" method="post" >
                                    <input class="btn btn-default" type="submit" asp-page-handler="Approve" value="Approve" asp-route-leagueId="@item.LeagueId" asp-route-driverId="@item.DriverId" />
                                    <input class="btn btn-default" type="submit" asp-page-handler="Delete" value="Deny" asp-route-leagueId="@item.LeagueId" asp-route-driverId="@item.DriverId" />
                                </form>
                                @*<a asp-page-handler="Approve" asp-route-leagueId="@item.LeagueId" asp-route-driverId="@item.DriverId">Approve</a> |*@
                                @*@Html.ActionLink("Approve", "Edit", new { driverId = item.DriverId, leagueId = item.LeagueId }) |*@
                                @*<a asp-page-handler="Delete" asp-route-leagueId="@item.LeagueId" asp-route-driverId="@item.DriverId">Deny</a>*@
                                @*@Html.ActionLink("Deny", "Delete", new { driverId=item.DriverId, leagueId = item.LeagueId })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Members</strong></div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LeagueDrivers.ActiveDrivers[0].Driver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeagueDrivers.ActiveDrivers[0].PreQualifiedTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeagueDrivers.ActiveDrivers[0].TrueSkillRating)
                    </th>
                    <th>
                        Attendance Percentage
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.LeagueDriver[0].RaceNumber)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LeagueDrivers.ActiveDrivers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Driver.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreQualifiedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrueSkillRating)
                        </td>
                        <td></td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.RaceNumber)
                            </td>*@
                        <td>
                            <a asp-page="./Edit" asp-route-leagueId="@item.LeagueId" asp-route-driverId="@item.DriverId">Edit</a> |
                            @*@Html.ActionLink("Edit", "Edit", new { leagueId = item.LeagueId, driverId = item.DriverId }) |*@
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>






@*<p>
        <a asp-page="Create">Create New</a>
    </p>*@

