@page
@model RacingLeagueManager.Pages.SeriesEntryDriver.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesEntryDriver[0].LeagueDriver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeriesEntryDriver[0].SeriesEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeriesEntryDriver[0].DriverType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SeriesEntryDriver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueDriver.LeagueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesEntry.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
