@page
@model RacingLeagueManager.Pages.SeriesEntryDriver.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Series Drivers</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Driver
            </th>
            <th>
                Driver Type
            </th>
            <th>
                No. Races
            </th>
            <th>
                No. DNFs
            </th>
            <th>
                DNF %
            </th>
            <th>
                No. DNSs
            </th>
            <th>
                DNS %
            </th>
            <th>
                Penalty Points
            </th>
            <th>
                Penalty %
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drivers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceResultCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNFCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNFPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNSCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNSPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyPointPercent)
            </td>
        </tr>
}
    </tbody>
</table>
