@page
@model RacingLeagueManager.Pages.SeriesEntryDriver.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.SeriesName Driver Statistics</h3>
<a asp-page="/Series/Details" asp-route-id="@Model.SeriesId">Series Details</a>
<hr />

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                Driver
            </th>
            <th>
                Driver Type
            </th>
            <th>
                No. Races
            </th>
            <th>
                No. DNFs
            </th>
            <th>
                DNF %
            </th>
            <th>
                No. DNSs
            </th>
            <th>
                DNS %
            </th>
            <th>
                No. Races Penalized 
            </th>
            <th>
                Penalty %
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Drivers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaceResultCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNFCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNFPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNSCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNSPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyPointPercent)
                </td>
            </tr>
        }
    </tbody>
</table>

