@page
@model RacingLeagueManager.Pages.Rule.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.League.Name Rules</h3>


<p>
    <a asp-page="/Leagues/Details" asp-route-id="@Model.League.Id">League Details</a> | 
    <a asp-page="Create" asp-route-leagueId="@Model.League.Id">New Rule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Description
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Rule[0].League)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.League.Rules) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.League.Id)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
